NODE_ENV=development
PORT=3333

DATABASE_URL="postgresql://user:password@localhost:5432/keltech_db?schema=public"

JWT_SECRET=
JWT_EXPIRES_IN=1d

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

MONGODB_URI="mongodb://user:password@localhost:27017/keltech_db?authSource=admin"
